@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* :root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --sidebar: hsl(0 0% 98%);WW
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
*/
:root {
  --background: #Faecd7;
  --foreground: #034f39;
} 

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

/* when working with the css we have to make sure we are targeting the correct component, make sure we make a div encapsulating all the others ( make a wrapper ) */

.main-body-wrapper{
  display: grid;
  height: 100dvh;
  height: 100vh;
  grid-template-columns: auto 1fr;
}

.main-content-wrapper{
  display: grid;
}

#sidebar{
  box-sizing: border-box;
  height: 100vh;
  width: 55px;
  padding: 0px;
  background-color: #034f39;
  border-right: 1px solid #549369;
  color: #F7E7CE;

  position: sticky;
  top: 0;
  align-self: start;

  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.open{
  padding: 5px 1em;
  width: 250px;
}

#sidebar > ul > li > a > img{
  flex-shrink: 0;
}

#sidebar > ul > li > a> span, #sidebar .dropdown-btn span{
  flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover{
  background-color: #08313a;
}


#sidebar ul{
  list-style: none;
}

#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 18px;
}

#sidebar ul li.active a{
  color:#fbe698;
}

#sidebar a, #sidebar .dropdown-btn{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: #F7E7CE;
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  >div{
    overflow: hidden;
  }
}

#sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}

.dropdown-btn img{
  transition: 200ms ease;
}

.rotate img:last-child{
  rotate: 180deg;
}

#sidebar .sub-menu a{
  padding-left: 2.5em;
}

#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  img{
    transition: rotate 150ms ease;
  }
}

#toggle-btn:hover{
  background-color: #08313a;
}


/* @media(max-width: 800){
  body{
    grid-template-columns: 1fr;
  }
  .main-body-wrapper{
    grid-template-columns: 1fr;
  }
  #sidebar{
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--foreground);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;
  }

} */

.forest-green{
  background-color: #034f39;
}

.text-forest-green{
  color: #034f39;
}

.champagne{
  background-color: #F7E7CE;
}

.text-champagne{
  color: #F7E7CE;
}

.emerald-green{
  background-color: #549369;
}

.ivory{
  background-color: #ede7d0;
}

.text-ivory{
  color: #ede7d0;
}

.blueish-forest-green{
  background-color: #08313a;
}

.blueish-green-text{
  color: #08313a;
}

.darker-champagne{
  background-color: #fbe698;
}

.darker-champagne-text{
  color: #fbe698;
}

/* home page main content section so like the carousel images and other goodies */

.page-header{
  display: grid;
  grid-template-columns: 1fr;
}


.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}